
.left-sidebar {
    float: left;
    width: 15%;
    margin: 10px auto;
    overflow: hidden;
}

.container {
    float: right;
    margin: 10px auto;
    width: 80%;
}

.article {
    /*width: 70%;*/
    box-sizing: border-box;
    text-align: left;
    /* background-color: #d6d9dc59; */
    margin: 30px 20px;
    padding: 15px 20px;
    box-shadow: 5px 5px 12px 0px #a9a1a1;
    border: solid 1px #00000040;
}

.article-title {
    font-size: 18px;
    font-weight: 500
}

.date {
    font-size: 12px;
}

.article a {
    color: #0A0A57;
    text-decoration: none;
}

.article a:hover {
    color: #3d3dad;
}


/*Search Bar */

.feed-search {
    margin-left: 30%;
    /*border: saddlebrown solid 1px;*/
    padding: 10px;
    display: block;
}

.feed-search-input {
    border: 2px solid #aaabab;
    border-radius: 14px;
    margin-right: 5px;
    width: 50%;
    padding: 5px;
}

.feed-link-item {
    padding: 20px;
    border: 2px solid #aaabab;
    border-radius: 50px;
}

ul {
    list-style-type: none;
}

.selected {
    background: rgba(92, 140, 0, 0.84);
}

.feed-link-close-btn {
    float: right;
    font-weight: 800;
}

.feed-link-close-btn:hover {
    color: red;
    cursor: pointer;
}